version: "3.8"
services:
  leader:
    build: .
    container_name: kv_leader
    environment:
      - ROLE=leader
      - PORT=5000
      - FOLLOWERS=follower1:5000,follower2:5000,follower3:5000,follower4:5000,follower5:5000
      - MIN_DELAY=0.1
      - MAX_DELAY=1.0 
      - WRITE_QUORUM=1
      - REPL_TIMEOUT=2.0
    ports:
      - "5000:5000"
    depends_on:
      - follower1
      - follower2
      - follower3
      - follower4
      - follower5

  follower1:
    build: .
    container_name: kv_follower1
    environment:
      - ROLE=follower
      - PORT=5000
    ports:
      - "5001:5000"

  follower2:
    build: .
    container_name: kv_follower2
    environment:
      - ROLE=follower
      - PORT=5000
    ports:
      - "5002:5000"

  follower3:
    build: .
    container_name: kv_follower3
    environment:
      - ROLE=follower
      - PORT=5000
    ports:
      - "5003:5000"

  follower4:
    build: .
    container_name: kv_follower4
    environment:
      - ROLE=follower
      - PORT=5000
    ports:
      - "5004:5000"

  follower5:
    build: .
    container_name: kv_follower5
    environment:
      - ROLE=follower
      - PORT=5000
    ports:
      - "5005:5000"